.INFO{
    background-image: url("Der.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.INFO2{
    background-image: url("Iz.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}


